accelerate>=1.6.0
controlnet-aux>=0.0.9
imageio-ffmpeg>=0.6.0
git+https://github.com/huggingface/diffusers.git
numpy>=2.2.4
opencv-python>=4.11.0.86
peft>=0.15.2
pillow>=11.2.1
protobuf>=6.30.2
sentencepiece>=0.2.0
spandrel>=0.4.1
torch>=2.7.0
torchvision>=0.22.0
torchaudio>=2.7.0
transformers>=4.51.2
tqdm>=4.67.1
protobuf>=6.31.0
prodigyopt>=1.1.2; sys_platform == 'win32'
bitsandbytes>=0.46.0; sys_platform == 'win32'
ftfy>=6.3.1

# Source dependency on root project
-e ../../